@{
    ViewData["Title"] = "Головна";
    var currentUserId = ViewData["CurrentUserId"] as Guid?;
    var notifications = ViewData["Notifications"] as List<NotificationViewModel>;
    var categories = ViewData["Categories"] as List<string>;
}


<div class="main-content_container">
    <form asp-controller="Home" asp-action="Index" method="get" class="select-list">
        <select name="category" onchange="this.form.submit()">
            <option value="" hidden>Категорії</option>
            <option value="1">Усі</option>
            @foreach (var category in categories!)
            {
                <option value="@category">@category</option>
            }
        </select>
    </form>
    <br>
    <ul>
        @foreach (var job in Model.Jobs)
        {
            <li>
                <article>
                    <h2>@job.Title</h2>
                    <p>@job.Description</p>
                    <p>Місцезнаходження: @job.Location</p>
                    <p>Категорія: @job.Category.Title</p>
                    <p>#@job.Id</p>
                    <p>Дата створення: @job.CreatedAt.ToString("dd.MM.yyyy")</p>
                    @if (User.Identity!.IsAuthenticated)
                    {
                        if (job.CreatorId == currentUserId)
                        {
                            <a asp-controller="Job" asp-action="EditJob" asp-route-id="@job.Id" class="btn btn-primary">Редагувати</a>
                        }
                        else
                        {
                            <a asp-controller="Message" asp-action="CreateMessage" asp-route-jobId="@job.Id" class="btn btn-primary">Відгукнутись</a>
                        }
                    }
                </article>
            </li>
        }
    </ul>
</div>


<br>
<a class="notifications_indicator" href="#notifications_page">110</a>

<div class="notifications_container" id="notifications_page">
    @if (notifications != null && notifications.Any())
    {



        @await Html.PartialAsync("_Notifications", notifications)
    }
</div>