@model Helper.Web.Models.AccountModels.ProfileViewModel

@{
    ViewBag.Title = "Профіль користувача";
}
<div class="profile-page_wrapper">
    <div class="page_header">
        <h1 class="page_title">Загальна інформація</h1>

        <button class="button-back buttons">
            <a asp-controller="Home" asp-action="Index">
                назад
            </a>
        </button>
    </div>
    <div class="profile-page_container">

        <table class="main-info">
            <tbody>
            <tr>
                <th class="main-info_left-column">Ім'я:</th>
                <td class="main-info_right-column">@Model.Username</td>
            </tr>
            <tr>
                <th class="main-info_left-column">Е-пошта:</th>
                <td class="main-info_right-column">@Model.Email</td>
            </tr>
            <tr>
                <th class="main-info_left-column">Місто:</th>
                <td class="main-info_right-column">@Model.City</td>
            </tr>
            <tr>
                <th class="main-info_left-column">Дата реєстрації:</th>
                <td class="main-info_right-column">@Model.RegisterDate.ToString("dd.MM.yyyy HH:mm")</td>
            </tr>
            @if (User.Identity!.IsAuthenticated)
            {
                <tr>
                    <th class="main-info_left-column">Дата останнього входу:</th>
                    <td class="main-info_right-column">@Model.LastLoginDate.ToString("dd.MM.yyyy HH:mm")</td>
                </tr>
            }
            <tr>
                <th class="main-info_left-column">Створено:</th>
                <td class="main-info_right-column">@Model.CreatedJobs</td>
            </tr>
            <tr>
                <th class="main-info_left-column">Прийнято:</th>
                <td class="main-info_right-column">@Model.AcceptedJobs</td>
            </tr>
            <tr>
                <th class="main-info_left-column">Виконано:</th>
                <td class="main-info_right-column">@Model.CompletedJobs</td>
            </tr>
            <tr>
                <th class="main-info_left-column">Скасовано:</th>
                <td class="main-info_right-column">@Model.FailedJobs</td>
            </tr>
            </tbody>
        </table>

        <div class="alert-success_container">
            @if (TempData["SuccessMessage"] != null)
            {
            <div class="alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>
            }
        </div>

        <div class="update-contact-data">
            <form asp-action="UpdateProfile" method="post" class="profile-page-form_container">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id"/>
                <div class="input_container">
                    <label asp-for="Email" class="input_label">Електронна адреса:</label>
                    <input asp-for="Email" type="email" class="input_field"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="input_container">
                    <label asp-for="City" class="input_label">Місто:</label>
                    <input asp-for="City" class="input_field"/>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-button_container">
                    <button type="submit" class="form_button-submit buttons">оновити дані</button>
                </div>
            </form>
            <hr class="profile-card_line">
            <form asp-action="UpdatePassword" method="post" class="profile-page-form_container">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id"/>
                <div class="input_container">
                    <label asp-for="OldPassword" class="input_label">Старий пароль:</label>
                    <input type="password" asp-for="OldPassword" class="input_field" placeholder="Введіть старий пароль..."/>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="input_container">
                    <label asp-for="NewPassword" class="input_label">Новий пароль:</label>
                    <input type="password" asp-for="NewPassword" class="input_field" placeholder="Введіть новий пароль..."/>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="input_container">
                    <label asp-for="RepeatPassword" class="input_label">Повторіть новий пароль:</label>
                    <input type="password" asp-for="RepeatPassword" class="input_field" placeholder="Підтвердіть новий пароль..."/>
                    <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                </div>
                <div class="form-button_container">
                    <button type="submit" class="form_button-submit buttons">Зберегти пароль</button>
                </div>
            </form>
        </div>
    </div>
</div>