@model IEnumerable<Job>

<ul class="cards_container main-cards all-cards">
    <h2 class="page_subtitle">Створені</h2>
    @foreach (var job in Model)
    {
        <li class="card">
            <article>
                <div class="card_header main-card_header">
                    <div class="card_title">
                        <h2>@job.Title</h2>
                    </div>
                    <span class="card_job-id">#@job.Id</span>
                </div>
                <div class="main-card_main">
                    <div class="card_sidebar">
                        <span class="card_category">@job.Category!.Title</span>
                        <div class="card_line-vertical"></div>
                    </div>
                    <div class="card_content">
                        <p class="card_content-text">@job.Description</p>
                    </div>
                </div>
                <hr class="card_line">
                <div class="card_footer">
                    <div class="card_about">
                        <span class="card_location">@job.Location</span>
                        <span class="card_date">@job.CreatedAt.ToString("dd.MM.yyyy")</span>
                    </div>
                    <hr class="card_line">
                    <span>
                        <strong>Статус:</strong> @job.Status.GetDisplayName()
                    </span>
                    <div class="card_buttons">
                        @if (job.Status == "InProgress")
                        {
                            <form asp-action="ConfirmCompletion" method="post">
                                <input type="hidden" name="id" value="@job.Id"/>
                                <input type="submit" value="Підтвердити завершення" class="notifications-card_button all-jobs-card_button notifications-card_button-success"/>
                            </form>
                            <form asp-action="CancelJob" method="post">
                                <input type="hidden" name="id" value="@job.Id"/>
                                <input type="submit" value="Скасувати виконання" class="notifications-card_button all-jobs-card_button notifications-card_button-danger"/>
                            </form>
                        }
                        else @if (job.Status == "Active")
                        {
                            <a asp-controller="Job" asp-action="EditJob" asp-route-id="@job.Id" class="notifications-card_button btn-warning">Редагувати</a>
                        }
                    </div>
                </div>
            </article>
        </li>
    }
</ul>