@model IEnumerable<User>

@{
    ViewData["Title"] = "Панель керування";
}

<div class="admin-page_wrapper">
    <div class="page_header">
        <h1 class="page_title">Панель керування</h1>
        <button class="buttons button-back">
            <a asp-controller="Home" asp-action="Index">
                назад
            </a>
        </button>
    </div>
    <div class="search">
        <div class="input_container">
            <form asp-controller="Admin" asp-action="AdminPage" method="get" class="create-category-form_container">
                <input type="text" name="search" class="input_field admin-page-form_title  search-field" placeholder="Пошук за ім'ям користувача" />
                <button type="submit" class="buttons admin-page-button_submit">Пошук</button>
            </form>
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="text-danger">@ViewBag.ErrorMessage</div>
            }
        </div>

        <button class="admin-page-button_submit buttons">
            <a asp-controller="Category" asp-action="CategoryEditor">
                Редактор категорій
            </a>
        </button>
    </div>
    <div>
        <table class="admin-page_table">
            <thead>
            <tr>
                <th>Ім'я</th>
                <th>#</th>
                <th>Пошта</th>
                <th>Місто</th>
                <th>Зареєстровано</th>
                <th>Останній вхід</th>
                <th>Створено</th>
                <th>Прийнято</th>
                <th>Завершено</th>
                <th>Скасовано</th>
                <th>Дії</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Id</td>
                    <td>@user.Email</td>
                    <td>@user.City</td>
                    <td class="table_datetime">@user.RegisterDate.ToString("dd.MM.yy HH:mm")</td>
                    <td class="table_datetime">@user.LastLoginDate.ToString("dd.MM.yy HH:mm")</td>
                    <td>@user.CreatedJobs</td>
                    <td>@user.AcceptedJobs</td>
                    <td>@user.CompletedJobs</td>
                    <td>@user.FailedJobs</td>
                    <td>
                        <a asp-controller="Admin" asp-action="AdminSubpage" asp-route-userId="@user.Id" class="table_button-view">Завдання</a>
                        <form method="post" asp-action="DeleteUser" asp-route-userId="@user.Id">
                            <button type="submit" class="table_button-delete buttons">
                                <img src="~/images/icons/delete-trash.png" alt="delete">
                            </button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>